.records{
    width: 100%;
    user-select: none;
    text-align: left;
    background: var(--text-color);
    padding: 1rem;
    border-radius: var(--circular);
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding-left: 20px;
    font-size: 1rem;    
}
.records td{
    height: 50px;
    padding-left: 20px;

}

.records th:last-child,
.records td:last-child{
    padding: 0.6rem;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
    transition: ease-in 0.2s;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    border: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }


  @media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    /* Cabeçalho da tabela */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    /* Células da tabela */
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /* Rótulos das células */
    td:before {
      content: attr(data-label);
      font-weight: bold;
    }
}


